@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The SPACE Store</h1>
    <p>This is the Project SPACE Product site, a place to find quality products.</p>
    <br />
    <p>Place your trust in SPACE to find quality products</p>
</div>

<div>
 <style>
     body{
            background-image: url('/Images/SpaceStore.jpg');
     }
 </style>
</div>