@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<title>This is our Privacy Policy</title>

<div>
<p>Your data may be deleted upon request.  Any details saved on this site are included in this policy</p>
<p>Payment details are encrypted upon saving.  Please do not share financial information with SPACE staff.</p>
</div>