@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2 class="h5">What we do</h2>
<p><strong>Int</strong><strong>roducing – Project Space </strong></p>
<p><strong><em>A SERC Student Company</em> </strong> </p>
<p>What we do –</p>
<p><strong>Websites</strong> - Create bespoke Websites, to meet your web 
    traffic &amp; business needs. User Friendly designs, to allow ease of use and navigation, 
    to get your users where they need to be on your site! Specialising in responsive mobile first design and SEO optimisation. 
    &nbsp;</p>
<p><strong>Apps</strong> – Create Apps which will be tailored to meet your requirements. We can produce user friendly, 
    responsive designs that support offline functionality and native device features 
    (like camera and notifications). 
    Implement basic functionality like CRUD, 
    contact forms etc. Specialising in Android platform development. </p>
<p><strong>We also specialise in Progressive Web Apps.</strong> This is an adaptable web application that gives the feel of a native app when used on mobile devices. 
    Works on android, 
    apple and desktops. 
    Can be optimized with SEO and wont get lost in the app store! 
    PWA’s support many features including the ability to add your app to a devices home screen and offline functionality. 
    In addition they can also utilize native device features like camera and GPS as well as notifications which are supported on most browsers. </p>